.contato-page {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 0 1rem;
    color: #f9fafb;

}

.card {
    padding: 2.5rem;
    padding-top: 0rem;
    border-radius: 16px;
    margin-bottom: 2rem;
    line-height: 1.7;
}

.cards {
    display: flex;
    align-items: flex-start
}

.contato-header {
    text-align: center;
    margin-bottom: 3rem;
}

.funcionamento {
    background-color: #ebecfb;
    border: 1px solid #d5e0fb;

}

.cards-direita {
    padding-left: 5%;
}

.requisitos {
    background-color: #ffffff;
    border: 1px solid #eeefef;
}

.nota {
    background-color: #faeae2;
    border: 1px solid #f9e4d6;
}

h3 {
    color: black;
}

p {
    color: rgb(103, 102, 102);
}

h1 {
    font-size: 300%;
}

#subtitulo {
    font-size: 120%;
    color: rgb(103, 102, 102);
}

.contato-img {
    width: 100px;
    height: 100px;
}

.numero {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #6366f1;
    color: white;
    font-weight: bold;
}